.header {
  &__navbar {
    display: flex;
    height: 10vh;
    width: 65%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    // background-color: red;

    @media only screen and (max-width: 56.25em) {
      // 900px
      width: 80%;
    }

    @media only screen and (max-width: 37.5em) {
      //600px
      width: 90%;
    }

    &--logo {
      a {
        color: #000;
        font-weight: 600;
        font-size: 5rem;
      }

      span {
        color: #F5C518;
      }
    }

    &--links {

      @media only screen and (min-width: 75em) {
        // > 1200px
        margin-left: -10%;
        // background-color: red;
        width: 18%;
      }

      @media only screen and (max-width: 75em) {
        // <= 1200px
        // background-color: red;
        width: 18%;
      }

      @media only screen and (max-width: 56.25em) {
        // 900px
        width: 40%;
      }

      @media only screen and (max-width: 37.5em) {
        //600px
        width: 35%;
      }

      ul {
        display: flex;
        justify-content: space-between;
      }

      a {
        font-size: 1.6rem;
        font-weight: 600;
        color: #000;

        @media only screen and (max-width: 56.25em) {
          // 900px
          font-size: 2rem;
        }

        @media only screen and (max-width: 37.5em) {
          //600px
          font-size: 1.8rem;
        }
      }

      .active {
        color: #F5C518;
        font-weight: 500;
      }
    }

    &--searchbox {
      position: relative;
      display: flex;
      padding: 1px 10px;
      width: 30rem;
      height: 5vh;
      border-radius: 8px;
      background-color: #F3F3F3;

      @media only screen and (max-width: 56.25em) {
        // 900px
        display: none;
      }

      .search {
        width: 100%;
        height: 100%;
        vertical-align: middle;

        &__input {
          border: none;
          width: 100%;
          height: 100%;
          padding: 0 4px;
          font-size: 1.5rem;
          font-weight: 400;
          background-color: transparent;
          border-radius: 5rem;

          &::placeholder {
            color: #636363;
          }

          &:focus {
            outline: none;
          }
        }

        i {
          font-size: 1.4rem;
          color: #c7c7c7;
          margin-top: .3rem;
        }
      }
    }

  }
}