.filter {
  display: flex;
  justify-content: space-around;
  background-color: #FFFFFF;
  align-items: center;
  width: 65%;
  box-shadow: 0px 16px 28px rgba(141, 40, 173, 0.15);
  border-radius: 10px;
  margin: auto;
  position: relative;
  z-index: 5000;
  margin-top: -5rem;

  padding: 2rem;


  @media only screen and (max-width: 56.25em) {
    // <= 900px
    // background-color: red;
    width: 80%;
  }

  @media only screen and (max-width: 37.5em) {
    //600px
    width: 95%;
    flex-direction: column;
  }

  // &__select {
  //   width: 13rem;
  //   padding: 1rem 3rem;
  //   color: #636363;
  //   height: 6vh;
  //   border: none;
  //   font-size: 1.4rem;
  //   font-weight: 400;
  //   border-radius: 8px;
  //   border: 1px solid #F3F3F3;
  //   background-color: #F3F3F3;
  //   cursor: pointer;

  //   @media only screen and (max-width: 37.5em) {
  //     //600px
  //     width: 100%;
  //   }

  //   /* Replace default styling of arrow */
  //   appearance: none;
  //   -webkit-appearance: none;
  //   -moz-appearance: none;
  //   background-image: url(../../assets/img/chevron.png);
  //   background-position: right 10px top 50%;
  //   background-repeat: no-repeat;
  //   background-size: 10px;

  //   &:focus,
  //   &:hover {
  //     outline: none;
  //     border: 1px solid #858484;
  //   }
  // }


    // @media only screen and (max-width: 37.5em) {
    //   //600px
    //   margin-right: 0;
    //   width: 100%;
    // }

  .search {
    display: flex;
    // background-color: red;
    width: 100%;
    align-items: center;

    &__input {
      background-color: #F3F3F3;
      border: none;
      padding: 2rem 2rem;
      font-size: 1.8rem;
      border-radius: 10px;
      width: 100%;
      margin-right: 5rem;

      &:focus {
        outline: none;
      }
      &::placeholder {
        font-size: 1.8rem;
      }
    }


    &__gg {
      border: none;
      color: #fff;
      font-size: 1.8rem;
      font-weight: 700;
      border-radius: 5rem;
      padding: 1.8rem 3rem;
      background-color: #F5C518;

      &:hover {
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }
  }

}