.overview {
  // background-color: yellowgreen;
  width: 65%;
  margin: 7rem auto;
  display: grid;
  grid-template-columns: 15vw 1fr;
  grid-column-gap: 2rem;

  @media only screen and (max-width: 75em) {
    // <= 1200px
    grid-template-columns: 35vw 1fr;
  }

  @media only screen and (max-width: 56.25em) {
    // 900px
    grid-template-columns: 30vw 1fr;
    width: 80%;
  }

  @media only screen and (max-width: 37.5em) {
    //600px
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(50vw, 1fr));
  }

  &__img {
    height: 40vh;
    // width: 23vw;
    // background-image: url(../../assets/img/godfather.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3rem;

    @media only screen and (max-width: 75em) {
      // <= 1200px
      height: 60vh;
    }

    @media only screen and (max-width: 56.25em) {
      // 900px
      height: 45vh;
    }

    @media only screen and (max-width: 37.5em) {
      //600px
      height: 50vh;
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__texts {

    @media only screen and (max-width: 37.5em) {
      //600px
    }

    &--paragraph {
      padding-right: 3.5rem;

      &__genres {
        margin-top: 2.2rem;

        ul {
          display: flex;
          width: 40%;
          justify-content: space-between;

          @media only screen and (max-width: 37.5em) {
            //600px
            width: 80%;
          }
        }

        li {
          background-color: #F5C518;
          padding: 1.2rem 3rem;
          border-radius: 1rem;

          @media only screen and (max-width: 37.5em) {
            //600px
            padding: 1.5rem 4.4rem;
            font-size: 2rem;
            margin-right: 2rem;
          }
        }
      }


      p {
        font-size: 1.5rem;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.5);
        margin-top: 2.5rem;

        @media only screen and (max-width: 37.5em) {
          //600px
          font-size: 2rem;
        }
      }

      span {
        font-weight: 600;
        font-size: 1.6rem;
        color: #F5C518;
      }

      h1 {
        font-size: 3.5rem;
        font-weight: 600;
        color: #000000;
      }
    }

    &--rating {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 8vh;

      &__img {
        display: flex;
        align-items: center;
      }

      &__span {
        font-weight: 600;
        font-size: 1.3rem;
        margin-left: 1rem;
      }


      .add {
        background-color: #F5C518;

        span {
          color: #fff;
        }

        i {
          color: #fff;
        }
      }

      .added {
        background-color: white;
        border: 1px solid #F5C518;

        span {
          color: #F5C518;
        }

        i {
          color: #F5C518;
        }
      }

      &__favbtn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6vh;
        border: none;
        padding: 1.2rem 1rem;
        background: #F5C518;
        box-shadow: 0px 14px 26px rgba(39, 13, 48, 0.25);
        border-radius: 8px;
        margin-right: 3rem;

        @media only screen and (max-width: 37.5em) {
          //600px
          padding: 1.5rem 4.4rem;
          font-size: 2rem;
          margin-right: 2rem;
        }

        &:focus {
          outline: none;
        }

        &:hover {
          cursor: pointer;
        }

        i {
          font-size: 1.9rem;
        }

        span {
          margin-left: 1rem;
          font-size: 1.5rem;
          font-weight: 500;
          color: #fff;

          @media only screen and (max-width: 37.5em) {
            //600px
            font-size: 1.9rem;
          }
        }
      }
    }
  }
}